<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SynchServiceNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <SynchServiceNS.Properties.Settings>
            <setting name="VMRun" serializeAs="String">
                <value>C:\Program Files (x86)\VMware\VMware Workstation\vmrun.exe</value>
            </setting>
            <setting name="VMList" serializeAs="String">
                <value>D:\vmware-automation\working\vmlist.txt</value>
            </setting>
            <setting name="VMFullList" serializeAs="String">
                <value>D:\vmware-automation\working\vmfulllist.txt</value>
            </setting>
            <setting name="WorkingDir" serializeAs="String">
                <value>D:\vmware-automation\working</value>
            </setting>
            <setting name="BackupDest" serializeAs="String">
                <value>\\192.168.1.22\public\AutomatedVmsBackup</value>
            </setting>
            <setting name="ShutdownVms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupVms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteSnapshot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateSnapshot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseFullVMsList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JobRunInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="JobRunTime" serializeAs="String">
                <value>03/04/2025 02:00:00</value>
            </setting>
            <setting name="UseVMWareAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuspendOption" serializeAs="String">
                <value>False</value>
            </setting>
        </SynchServiceNS.Properties.Settings>
    </userSettings>
</configuration>
